{% extends "plantilla.html" %}
{% block content %} 
<!-- [ Layout content ] Start -->
<div class="layout-content">

    <!-- [ content ] Start -->
    <div class="container-fluid flex-grow-1 container-p-y">   
        <div class="row">
            <div class="col-6">
                <h4 class="font-weight-bold py-3 mb-0">PRODUCTOS</h4>
            </div>
                <div class="col-6" align="right">
                        <a href="{% url 'agregarproducto' %}" type="button" class="btn btn-round btn-success"><i class="feather icon-plus"></i> Registrar</a>
                </div>
             </div>
        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item" >Productos</li>
                <li class="breadcrumb-item active" >Registro</li>
            </ol>
        </div>
    
        <div class="card" style="padding:30px;">
            <div class="card-header" style="margin-bottom:30px;">Listado de Productos</div>
            <div class="row">
                <div class="col-md-6 pull-right">
                    <form action="" method="GET">


                    <div class="input-group">
                        <input type="text" name="buscar" id="buscar" cla
                        ss="form-control" autofocus
                        placeholder="Buscar" value="">
                        <span class="input-group-btn">
                        <button class="btn btn-primary">
                        <i class="fa fa-search"></i>
                        </button>
                        </span>
                    </div>

                    </form>
                </div>
            </div>
            <table class="table card-table" id="basic-datatable">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if producto %}
                        {% for itemproducto in producto %}
                            <tr>
                                <td>{{ itemproducto.id }}</td>
                                <td>{{ itemproducto.nombre }}</td>
                                <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ itemproducto.descripcion }}</td>
                                <td>{{ itemproducto.precio }}</td>
                                <td>{{ itemproducto.stock }}</td>
                                <td>
                                    <a href="{% url 'editarproducto' itemproducto.id %}" class="btn btn-round btn-info"
                                       title="Editar">
                                        <i class="feather icon-edit-2"></i>
                                    </a>&nbsp;
                                    
                                    <a href="#" onclick="eliminarProducto('{{itemproducto.id}}','{{itemproducto.descripcion}}')" class="btn btn-round btn-danger"
                                       
                                       title="Eliminar">
                                        <i class="feather icon-trash-2"></i>
                                    </a>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr style="text-align: center;">
                            <td colspan="6">
                            <p>No hay Registros</p>
                            </td>
                        </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
        
        
    
    
    </div>
    <!-- [ Layout content ] Start -->


{% endblock %} 

{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
 {% for m in messages %}
 <script>
 Swal.fire({
 "title": "Eliminado",
 "text":"{{m}}",
 "icon":"success"
 })
 </script>
 {% endfor %}
{% endif %}
<script>
 function eliminarProducto(id,nombre){
Swal.fire({  "title":"¿Realmente desea eliminar Registro?",
 "text":"Codigo :"+ id + " Nombre :" + nombre,
"icon":"question",
 "showCancelButton":true,
 "cancelButtonText":"No",
 "confirmButtonText":"Si",
 "reverseButton":true,
 "confirmButtonColor":"#dc3545"
 })
 .then(function(result){ if(result.isConfirmed){
window.location.href="/eliminarproducto/"+id+"/"
 }
 })
 }
</script>
{% endblock %}